<form action='/' method='POST'>
    <input name='first_name' placeholder='First Name' />
    <input name='last_name' required placeholder='Last Name' />
    <input
        id='sign_data'
        type='hidden'
        name='signature'
        value='data:image/png;base64,hello'
    />
    <canvas id='signature' width='400' height='400'></canvas>
    <button>Sign petition</button>

</form>
{{#if error}}
    <div>{{error}}</div>
{{/if}}

<script src='/draw-signature.js'></script>