<form action='/' method='POST'>
    <input name='first_name' required placeholder='First Name' />
    <input name='last_name' required placeholder='Last Name' />
    <input type='hidden' name='signature' value='data:image/png;base64,hello' />
    <button>Sign petition</button>

</form>
{{#if error}}
    <div>{{error}}</div>
{{/if}}