<form action='/' method='POST'>
    <input id='sign_data' type='hidden' name='signature' />
    <canvas id='signature' width='400' height='200'></canvas>
    <button>Sign petition</button>

</form>
{{#if error}}
    <div>{{error}}</div>
{{/if}}

<script src='/draw-signature.js'></script>