<header>
    <div class='icon'>
        <img src='/asset/noun-no-plastic-bag-3149101.svg' />
    </div>
    <h1>Stop Plastic Bag</h1>
</header>
<p>If you want, you could tell us more to help us better build local volunteer
    groups.</p>
<form action='/profile' method='POST'>
    <input name='age' placeholder='Age' />
    <input name='city' placeholder='City' />
    <input name='homepage' placeholder='Homepage' />

    <button>Continue</button>

</form>

{{#if error}}
    <div>{{error}}</div>
{{/if}}