<header>
    <div class='icon'>
        <img src='/asset/noun-no-plastic-bag-3149101.svg' />
    </div>
    <h1>Stop Plastic Bag</h1>
</header>
<p>Every day, we generate tons of plastic waster from plastic bags. Let us work
    together to stop it.
</p>
<form action='/register' method='POST'>
    <input name='first_name' required placeholder='First Name' />
    <input name='last_name' required placeholder='Last Name' />
    <input name='email' type='email' required placeholder='Email Address' />
    <input name='password' type='password' required placeholder='Password' />

    <button>Register</button>

</form>

<p>If you are already a member, please <a href='/login'>log in</a>.</p>

{{#if error}}
    <div>{{error}}</div>
{{/if}}