<div>

    <img src='{{foundSignature.signature}}' alt='current signature' />
    <a href='/signatures'>See all signers</a>
    <a href='/profile/edit'>Edit your profile</a>
    <form action='/logout' method='POST'>
        <button>Logout</button>
    </form>
    <form action='/unsign' method='POST' id='unsign'>
        <button>Delete Signature</button>
    </form>

</div>