<div>

    <p>Thank you
        <strong>
            {{signedUser.first_name}}
            {{signedUser.last_name}}
        </strong>
        for signing our petition.</p>
    <a href='/signatures'>See all signers</a>

</div>